<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <th:block th:insert="fragments/head">
    </th:block>
<body>
<header th:insert="fragments/navbar-with-hero">
</header>
<main>
    <div class="container">
        <div class="text-center bg-blur">
            <h1>Fight</h1>
            <div>
                <div class="row">
                    <div class="col-md-4">
                        <img th:src="${hero.gender}" width="150px" height="250"/>
                        <h3 class="align-middle" th:text="${hero.name}"></h3>
                    </div>
                    <div class="col-md-4">
                        <h2>VS</h2>
                        <h2 th:text="|${winner} - winner|"></h2>
                    </div>
                    <div class="col-md-4">
                        <img th:src="${oppHero.gender}" width="150px" height="250"/>
                        <h3 class="align-middle" th:text="${oppHero.name}"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:insert="fragments/footer">
</th:block>
</body>
</html>