<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <th:block th:insert="fragments/head">
    </th:block>
<body>
    <header th:insert="fragments/navbar-with-hero">
    </header>
    <main>
        <div class="text-center mb-3">
            <h4 class="text-white mt-2">Choose Your Opponent</h4>
        </div>
        <hr class="my-3"/>
        <div class="container">
            <div class="text-center">
                <div class="row flex-md-row">
                    <div class="col text-center" th:each="hero : ${heroes}" th:object="${hero}" th:unless="${heroes.isEmpty()}">
                        <img th:src="*{gender}" width="150">
                        <h2 class="text-white">[[*{name}]]</h2>
                        <a class="btn btn-secondary" th:href="@{/heroes/fight/{name}(name=*{name})}">Fight</a>
                    </div>
                    <div class="col text-center" th:if="${heroes.isEmpty()}">
                        <h2 class="text-white">There are opponents now, try again later!</h2>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <th:block th:insert="fragments/footer">
    </th:block>
</body>
</html>